*.o
*.la
*.lo
.*.swp
.*.swo
.deps
.libs
Makefile
Makefile.in
autom4te.cache
/api/full_version.map
/config.h
/config.log
/config.status
/contribs/cray/opt_modulefiles_slurm
/contribs/cray/slurmconfgen.py
/contribs/perlapi/libslurm/perl/Makefile.PL
/contribs/perlapi/libslurmdb/perl/Makefile.PL
/doc/html/*.html
!/doc/html/review_release.html
/etc/cgroup.release_common.example
/etc/init.d.slurm
/etc/init.d.slurmdbd
/etc/slurmctld.service
/etc/slurmd.service
/etc/slurmdbd.service
/libtool
/slurm/slurm.h
/slurm/stamp-h2
/src/api/pmi_version.map
/src/api/version.map
/src/common/global_defaults.c
/src/db_api/version.map
/src/plugins/checkpoint/blcr/cr_checkpoint.sh
/src/plugins/checkpoint/blcr/cr_restart.sh
/stamp-h1
/src/sacct/sacct
/src/sacctmgr/sacctmgr
/src/salloc/salloc
/src/sattach/sattach
/src/sbatch/sbatch
/src/sbcast/sbcast
/src/scancel/scancel
/src/scontrol/scontrol
/src/sdiag/sdiag
/src/sinfo/sinfo
/src/slurmctld/slurmctld
/src/slurmd/slurmd/slurmd
/src/slurmd/slurmstepd/slurmstepd
/src/slurmdbd/slurmdbd
/src/smap/smap
/src/sprio/sprio
/src/squeue/squeue
/src/sreport/sreport
/src/srun/srun
/src/sshare/sshare
/src/sstat/sstat
/src/strigger/strigger
/src/sview/sview
testsuite/expect/globals.local
TAGS

Makefile
auxdir/Makefile
config.h
config.log
config.status
contribs/Makefile
contribs/cray/Makefile
contribs/cray/csm/Makefile
contribs/lua/Makefile
contribs/mic/Makefile
contribs/openlava/Makefile
contribs/pam/Makefile
contribs/pam_slurm_adopt/Makefile
contribs/perlapi/Makefile
contribs/perlapi/libslurm/Makefile
contribs/perlapi/libslurm/perl/Makefile.PL
contribs/perlapi/libslurmdb/Makefile
contribs/perlapi/libslurmdb/perl/Makefile.PL
contribs/pmi2/Makefile
contribs/seff/Makefile
contribs/sgather/Makefile
contribs/sgi/Makefile
contribs/simulator/.deps/edit_trace.Po
contribs/simulator/.deps/list_trace.Po
contribs/simulator/.deps/mysql_trace_builder-mysql_trace_builder.Po
contribs/simulator/.deps/sim_mgr.Po
contribs/simulator/.deps/sim_trace.Po
contribs/simulator/.deps/simdate.Po
contribs/simulator/.deps/simqsnap.Po
contribs/simulator/.deps/trace_builder.Po
contribs/simulator/.deps/update_trace.Po
contribs/simulator/Makefile
contribs/sjobexit/Makefile
contribs/torque/Makefile
doc/Makefile
doc/html/Makefile
doc/man/Makefile
doc/man/man1/Makefile
doc/man/man3/Makefile
doc/man/man5/Makefile
doc/man/man8/Makefile
etc/Makefile
libtool
slurm_configure.log
src/Makefile
src/api/.deps/allocate.Plo
src/api/.deps/allocate_msg.Plo
src/api/.deps/assoc_mgr_info.Plo
src/api/.deps/block_info.Plo
src/api/.deps/burst_buffer_info.Plo
src/api/.deps/cancel.Plo
src/api/.deps/checkpoint.Plo
src/api/.deps/complete.Plo
src/api/.deps/config_info.Plo
src/api/.deps/federation_info.Plo
src/api/.deps/front_end_info.Plo
src/api/.deps/init_msg.Plo
src/api/.deps/job_info.Plo
src/api/.deps/job_step_info.Plo
src/api/.deps/layout_info.Plo
src/api/.deps/license_info.Plo
src/api/.deps/node_info.Plo
src/api/.deps/partition_info.Plo
src/api/.deps/pmi.Plo
src/api/.deps/pmi_server.Plo
src/api/.deps/powercap_info.Plo
src/api/.deps/reconfigure.Plo
src/api/.deps/reservation_info.Plo
src/api/.deps/signal.Plo
src/api/.deps/slurm_get_statistics.Plo
src/api/.deps/slurm_pmi.Plo
src/api/.deps/step_ctx.Plo
src/api/.deps/step_io.Plo
src/api/.deps/step_launch.Plo
src/api/.deps/submit.Plo
src/api/.deps/suspend.Plo
src/api/.deps/topo_info.Plo
src/api/.deps/triggers.Plo
src/api/.deps/update_config.Plo
src/api/Makefile
src/bcast/.deps/libfile_bcast_la-file_bcast.Plo
src/bcast/Makefile
src/common/.deps/assoc_mgr.Plo
src/common/.deps/bitstring.Plo
src/common/.deps/callerid.Plo
src/common/.deps/cbuf.Plo
src/common/.deps/checkpoint.Plo
src/common/.deps/cpu_frequency.Plo
src/common/.deps/daemonize.Plo
src/common/.deps/eio.Plo
src/common/.deps/entity.Plo
src/common/.deps/env.Plo
src/common/.deps/fd.Plo
src/common/.deps/forward.Plo
src/common/.deps/gres.Plo
src/common/.deps/group_cache.Plo
src/common/.deps/hostlist.Plo
src/common/.deps/io_hdr.Plo
src/common/.deps/job_options.Plo
src/common/.deps/job_resources.Plo
src/common/.deps/layout.Plo
src/common/.deps/layouts_mgr.Plo
src/common/.deps/list.Plo
src/common/.deps/log.Plo
src/common/.deps/mapping.Plo
src/common/.deps/mpi.Plo
src/common/.deps/msg_aggr.Plo
src/common/.deps/net.Plo
src/common/.deps/node_conf.Plo
src/common/.deps/node_features.Plo
src/common/.deps/node_select.Plo
src/common/.deps/optz.Plo
src/common/.deps/pack.Plo
src/common/.deps/parse_config.Plo
src/common/.deps/parse_time.Plo
src/common/.deps/parse_value.Plo
src/common/.deps/plugin.Plo
src/common/.deps/plugrack.Plo
src/common/.deps/plugstack.Plo
src/common/.deps/power.Plo
src/common/.deps/print_fields.Plo
src/common/.deps/proc_args.Plo
src/common/.deps/read_config.Plo
src/common/.deps/run_command.Plo
src/common/.deps/safeopen.Plo
src/common/.deps/sim_funcs.Plo
src/common/.deps/slurm_accounting_storage.Plo
src/common/.deps/slurm_acct_gather.Plo
src/common/.deps/slurm_acct_gather_energy.Plo
src/common/.deps/slurm_acct_gather_filesystem.Plo
src/common/.deps/slurm_acct_gather_interconnect.Plo
src/common/.deps/slurm_acct_gather_profile.Plo
src/common/.deps/slurm_auth.Plo
src/common/.deps/slurm_cred.Plo
src/common/.deps/slurm_errno.Plo
src/common/.deps/slurm_ext_sensors.Plo
src/common/.deps/slurm_jobacct_gather.Plo
src/common/.deps/slurm_jobcomp.Plo
src/common/.deps/slurm_mcs.Plo
src/common/.deps/slurm_persist_conn.Plo
src/common/.deps/slurm_priority.Plo
src/common/.deps/slurm_protocol_api.Plo
src/common/.deps/slurm_protocol_defs.Plo
src/common/.deps/slurm_protocol_pack.Plo
src/common/.deps/slurm_protocol_socket_implementation.Plo
src/common/.deps/slurm_protocol_util.Plo
src/common/.deps/slurm_resource_info.Plo
src/common/.deps/slurm_rlimits_info.Plo
src/common/.deps/slurm_route.Plo
src/common/.deps/slurm_selecttype_info.Plo
src/common/.deps/slurm_step_layout.Plo
src/common/.deps/slurm_time.Plo
src/common/.deps/slurm_topology.Plo
src/common/.deps/slurmdb_defs.Plo
src/common/.deps/slurmdb_pack.Plo
src/common/.deps/slurmdbd_defs.Plo
src/common/.deps/state_control.Plo
src/common/.deps/stepd_api.Plo
src/common/.deps/strlcpy.Plo
src/common/.deps/strnatcmp.Plo
src/common/.deps/switch.Plo
src/common/.deps/timers.Plo
src/common/.deps/uid.Plo
src/common/.deps/util-net.Plo
src/common/.deps/working_cluster.Plo
src/common/.deps/write_labelled_message.Plo
src/common/.deps/x11_util.Plo
src/common/.deps/xassert.Plo
src/common/.deps/xcgroup_read_config.Plo
src/common/.deps/xhash.Plo
src/common/.deps/xlua.Plo
src/common/.deps/xmalloc.Plo
src/common/.deps/xsignal.Plo
src/common/.deps/xstring.Plo
src/common/.deps/xtree.Plo
src/common/Makefile
src/common/global_defaults.c
src/database/.deps/libslurm_mysql_la-mysql_common.Plo
src/database/Makefile
src/db_api/.deps/account_functions.Plo
src/db_api/.deps/archive_functions.Plo
src/db_api/.deps/assoc_functions.Plo
src/db_api/.deps/cluster_functions.Plo
src/db_api/.deps/cluster_report_functions.Plo
src/db_api/.deps/connection_functions.Plo
src/db_api/.deps/coord_functions.Plo
src/db_api/.deps/extra_get_functions.Plo
src/db_api/.deps/federation_functions.Plo
src/db_api/.deps/job_functions.Plo
src/db_api/.deps/job_report_functions.Plo
src/db_api/.deps/qos_functions.Plo
src/db_api/.deps/resource_functions.Plo
src/db_api/.deps/tres_functions.Plo
src/db_api/.deps/usage_functions.Plo
src/db_api/.deps/user_functions.Plo
src/db_api/.deps/user_report_functions.Plo
src/db_api/.deps/wckey_functions.Plo
src/db_api/Makefile
src/layouts/Makefile
src/layouts/power/.deps/cpufreq.Plo
src/layouts/power/.deps/default.Plo
src/layouts/power/Makefile
src/layouts/unit/.deps/default.Plo
src/layouts/unit/Makefile
src/plugins/Makefile
src/plugins/accounting_storage/Makefile
src/plugins/accounting_storage/common/.deps/common_as.Plo
src/plugins/accounting_storage/common/Makefile
src/plugins/accounting_storage/filetxt/.deps/accounting_storage_filetxt.Plo
src/plugins/accounting_storage/filetxt/.deps/filetxt_jobacct_process.Plo
src/plugins/accounting_storage/filetxt/Makefile
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-accounting_storage_mysql.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_acct.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_archive.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_assoc.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_cluster.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_convert.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_federation.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_fix_runaway_jobs.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_job.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_jobacct_process.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_problems.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_qos.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_resource.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_resv.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_rollup.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_tres.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_txn.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_usage.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_user.Plo
src/plugins/accounting_storage/mysql/.deps/accounting_storage_mysql_la-as_mysql_wckey.Plo
src/plugins/accounting_storage/mysql/Makefile
src/plugins/accounting_storage/none/.deps/accounting_storage_none.Plo
src/plugins/accounting_storage/none/Makefile
src/plugins/accounting_storage/slurmdbd/.deps/accounting_storage_slurmdbd.Plo
src/plugins/accounting_storage/slurmdbd/Makefile
src/plugins/acct_gather_energy/Makefile
src/plugins/acct_gather_energy/cray/.deps/acct_gather_energy_cray.Plo
src/plugins/acct_gather_energy/cray/Makefile
src/plugins/acct_gather_energy/ibmaem/.deps/acct_gather_energy_ibmaem.Plo
src/plugins/acct_gather_energy/ibmaem/Makefile
src/plugins/acct_gather_energy/ipmi/Makefile
src/plugins/acct_gather_energy/none/.deps/acct_gather_energy_none.Plo
src/plugins/acct_gather_energy/none/Makefile
src/plugins/acct_gather_energy/rapl/.deps/acct_gather_energy_rapl.Plo
src/plugins/acct_gather_energy/rapl/Makefile
src/plugins/acct_gather_filesystem/Makefile
src/plugins/acct_gather_filesystem/lustre/.deps/acct_gather_filesystem_lustre.Plo
src/plugins/acct_gather_filesystem/lustre/Makefile
src/plugins/acct_gather_filesystem/none/.deps/acct_gather_filesystem_none.Plo
src/plugins/acct_gather_filesystem/none/Makefile
src/plugins/acct_gather_interconnect/Makefile
src/plugins/acct_gather_interconnect/none/.deps/acct_gather_interconnect_none.Plo
src/plugins/acct_gather_interconnect/none/Makefile
src/plugins/acct_gather_interconnect/ofed/Makefile
src/plugins/acct_gather_profile/Makefile
src/plugins/acct_gather_profile/hdf5/Makefile
src/plugins/acct_gather_profile/hdf5/sh5util/Makefile
src/plugins/acct_gather_profile/none/.deps/acct_gather_profile_none.Plo
src/plugins/acct_gather_profile/none/Makefile
src/plugins/auth/Makefile
src/plugins/auth/munge/Makefile
src/plugins/auth/none/.deps/auth_none.Plo
src/plugins/auth/none/Makefile
src/plugins/burst_buffer/Makefile
src/plugins/burst_buffer/common/.deps/burst_buffer_common.Plo
src/plugins/burst_buffer/common/.libs/burst_buffer_common.o
src/plugins/burst_buffer/common/.libs/libburst_buffer_common.a
src/plugins/burst_buffer/common/.libs/libburst_buffer_common.la
src/plugins/burst_buffer/common/Makefile
src/plugins/burst_buffer/common/burst_buffer_common.o
src/plugins/burst_buffer/cray/Makefile
src/plugins/burst_buffer/generic/.deps/burst_buffer_generic.Plo
src/plugins/burst_buffer/generic/Makefile
src/plugins/checkpoint/Makefile
src/plugins/checkpoint/blcr/Makefile
src/plugins/checkpoint/none/.deps/checkpoint_none.Plo
src/plugins/checkpoint/none/Makefile
src/plugins/checkpoint/ompi/.deps/checkpoint_ompi.Plo
src/plugins/checkpoint/ompi/Makefile
src/plugins/core_spec/Makefile
src/plugins/core_spec/cray/.deps/core_spec_cray_la-core_spec_cray.Plo
src/plugins/core_spec/cray/Makefile
src/plugins/core_spec/none/.deps/core_spec_none.Plo
src/plugins/core_spec/none/Makefile
src/plugins/crypto/Makefile
src/plugins/crypto/munge/Makefile
src/plugins/crypto/openssl/.deps/crypto_openssl.Plo
src/plugins/crypto/openssl/Makefile
src/plugins/ext_sensors/Makefile
src/plugins/ext_sensors/none/.deps/ext_sensors_none.Plo
src/plugins/ext_sensors/none/Makefile
src/plugins/ext_sensors/rrd/Makefile
src/plugins/gres/Makefile
src/plugins/gres/common/.deps/gres_common.Plo
src/plugins/gres/common/Makefile
src/plugins/gres/gpu/.deps/gres_gpu.Plo
src/plugins/gres/gpu/Makefile
src/plugins/gres/mic/.deps/gres_mic.Plo
src/plugins/gres/mic/Makefile
src/plugins/gres/nic/.deps/gres_nic.Plo
src/plugins/gres/nic/Makefile
src/plugins/job_container/Makefile
src/plugins/job_container/cncu/.deps/job_container_cncu.Plo
src/plugins/job_container/cncu/Makefile
src/plugins/job_container/none/.deps/job_container_none.Plo
src/plugins/job_container/none/Makefile
src/plugins/job_submit/Makefile
src/plugins/job_submit/all_partitions/.deps/job_submit_all_partitions.Plo
src/plugins/job_submit/all_partitions/Makefile
src/plugins/job_submit/cray/.deps/job_submit_cray.Plo
src/plugins/job_submit/cray/Makefile
src/plugins/job_submit/defaults/.deps/job_submit_defaults.Plo
src/plugins/job_submit/defaults/Makefile
src/plugins/job_submit/logging/.deps/job_submit_logging.Plo
src/plugins/job_submit/logging/Makefile
src/plugins/job_submit/lua/Makefile
src/plugins/job_submit/partition/.deps/job_submit_partition.Plo
src/plugins/job_submit/partition/Makefile
src/plugins/job_submit/pbs/.deps/job_submit_pbs.Plo
src/plugins/job_submit/pbs/.deps/spank_pbs.Plo
src/plugins/job_submit/pbs/Makefile
src/plugins/job_submit/require_timelimit/.deps/job_submit_require_timelimit.Plo
src/plugins/job_submit/require_timelimit/Makefile
src/plugins/job_submit/throttle/.deps/job_submit_throttle.Plo
src/plugins/job_submit/throttle/Makefile
src/plugins/jobacct_gather/Makefile
src/plugins/jobacct_gather/cgroup/.deps/jobacct_gather_cgroup.Plo
src/plugins/jobacct_gather/cgroup/.deps/jobacct_gather_cgroup_cpuacct.Plo
src/plugins/jobacct_gather/cgroup/.deps/jobacct_gather_cgroup_memory.Plo
src/plugins/jobacct_gather/cgroup/Makefile
src/plugins/jobacct_gather/common/.deps/common_jag.Plo
src/plugins/jobacct_gather/common/Makefile
src/plugins/jobacct_gather/linux/.deps/jobacct_gather_linux.Plo
src/plugins/jobacct_gather/linux/Makefile
src/plugins/jobacct_gather/none/.deps/jobacct_gather_none.Plo
src/plugins/jobacct_gather/none/Makefile
src/plugins/jobcomp/Makefile
src/plugins/jobcomp/elasticsearch/Makefile
src/plugins/jobcomp/filetxt/.deps/filetxt_jobcomp_process.Plo
src/plugins/jobcomp/filetxt/.deps/jobcomp_filetxt.Plo
src/plugins/jobcomp/filetxt/Makefile
src/plugins/jobcomp/mysql/.deps/jobcomp_mysql_la-jobcomp_mysql.Plo
src/plugins/jobcomp/mysql/.deps/jobcomp_mysql_la-mysql_jobcomp_process.Plo
src/plugins/jobcomp/mysql/Makefile
src/plugins/jobcomp/none/.deps/jobcomp_none.Plo
src/plugins/jobcomp/none/Makefile
src/plugins/jobcomp/script/.deps/jobcomp_script.Plo
src/plugins/jobcomp/script/Makefile
src/plugins/launch/Makefile
src/plugins/launch/aprun/Makefile
src/plugins/launch/poe/Makefile
src/plugins/launch/runjob/Makefile
src/plugins/launch/slurm/.deps/launch_slurm.Plo
src/plugins/launch/slurm/.deps/task_state.Plo
src/plugins/launch/slurm/Makefile
src/plugins/mcs/Makefile
src/plugins/mcs/account/.deps/mcs_account.Plo
src/plugins/mcs/account/Makefile
src/plugins/mcs/group/.deps/mcs_group.Plo
src/plugins/mcs/group/Makefile
src/plugins/mcs/none/.deps/mcs_none.Plo
src/plugins/mcs/none/Makefile
src/plugins/mcs/user/.deps/mcs_user.Plo
src/plugins/mcs/user/Makefile
src/plugins/mpi/Makefile
src/plugins/mpi/none/.deps/mpi_none.Plo
src/plugins/mpi/none/Makefile
src/plugins/mpi/openmpi/.deps/mpi_openmpi.Plo
src/plugins/mpi/openmpi/Makefile
src/plugins/mpi/pmi2/.deps/agent.Plo
src/plugins/mpi/pmi2/.deps/client.Plo
src/plugins/mpi/pmi2/.deps/info.Plo
src/plugins/mpi/pmi2/.deps/kvs.Plo
src/plugins/mpi/pmi2/.deps/mpi_pmi2.Plo
src/plugins/mpi/pmi2/.deps/nameserv.Plo
src/plugins/mpi/pmi2/.deps/pmi1.Plo
src/plugins/mpi/pmi2/.deps/pmi2.Plo
src/plugins/mpi/pmi2/.deps/ring.Plo
src/plugins/mpi/pmi2/.deps/setup.Plo
src/plugins/mpi/pmi2/.deps/spawn.Plo
src/plugins/mpi/pmi2/.deps/tree.Plo
src/plugins/mpi/pmi2/Makefile
src/plugins/mpi/pmix/Makefile
src/plugins/node_features/Makefile
src/plugins/node_features/knl_cray/Makefile
src/plugins/node_features/knl_generic/.deps/node_features_knl_generic.Plo
src/plugins/node_features/knl_generic/Makefile
src/plugins/power/Makefile
src/plugins/power/common/.deps/power_common.Plo
src/plugins/power/common/Makefile
src/plugins/power/cray/Makefile
src/plugins/power/none/.deps/power_none.Plo
src/plugins/power/none/Makefile
src/plugins/preempt/Makefile
src/plugins/preempt/job_prio/.deps/preempt_job_prio.Plo
src/plugins/preempt/job_prio/Makefile
src/plugins/preempt/none/.deps/preempt_none.Plo
src/plugins/preempt/none/Makefile
src/plugins/preempt/partition_prio/.deps/preempt_partition_prio.Plo
src/plugins/preempt/partition_prio/Makefile
src/plugins/preempt/qos/.deps/preempt_qos.Plo
src/plugins/preempt/qos/Makefile
src/plugins/priority/Makefile
src/plugins/priority/basic/.deps/priority_basic.Plo
src/plugins/priority/basic/Makefile
src/plugins/priority/multifactor/.deps/fair_tree.Plo
src/plugins/priority/multifactor/.deps/priority_multifactor.Plo
src/plugins/priority/multifactor/Makefile
src/plugins/proctrack/Makefile
src/plugins/proctrack/cgroup/.deps/proctrack_cgroup.Plo
src/plugins/proctrack/cgroup/Makefile
src/plugins/proctrack/cray/Makefile
src/plugins/proctrack/linuxproc/.deps/kill_tree.Plo
src/plugins/proctrack/linuxproc/.deps/proctrack_linuxproc.Plo
src/plugins/proctrack/linuxproc/Makefile
src/plugins/proctrack/lua/Makefile
src/plugins/proctrack/pgid/.deps/proctrack_pgid.Plo
src/plugins/proctrack/pgid/Makefile
src/plugins/proctrack/sgi_job/Makefile
src/plugins/route/Makefile
src/plugins/route/default/.deps/route_default.Plo
src/plugins/route/default/Makefile
src/plugins/route/topology/.deps/route_topology.Plo
src/plugins/route/topology/Makefile
src/plugins/sched/Makefile
src/plugins/sched/backfill/.deps/backfill.Plo
src/plugins/sched/backfill/.deps/backfill_wrapper.Plo
src/plugins/sched/backfill/Makefile
src/plugins/sched/builtin/.deps/builtin.Plo
src/plugins/sched/builtin/.deps/builtin_wrapper.Plo
src/plugins/sched/builtin/Makefile
src/plugins/sched/hold/.deps/hold_wrapper.Plo
src/plugins/sched/hold/Makefile
src/plugins/select/Makefile
src/plugins/select/alps/.deps/select_alps_la-cray_config.Plo
src/plugins/select/alps/.deps/select_alps_la-nodespec.Plo
src/plugins/select/alps/.deps/select_alps_la-select_alps.Plo
src/plugins/select/alps/Makefile
src/plugins/select/alps/libalps/Makefile
src/plugins/select/alps/libemulate/Makefile
src/plugins/select/bluegene/.deps/ba_common.Plo
src/plugins/select/bluegene/.deps/bg_job_info.Plo
src/plugins/select/bluegene/.deps/bg_node_info.Plo
src/plugins/select/bluegene/.deps/configure_api.Plo
src/plugins/select/bluegene/.deps/select_bluegene.Plo
src/plugins/select/bluegene/Makefile
src/plugins/select/bluegene/ba_bgq/Makefile
src/plugins/select/bluegene/bl_bgq/Makefile
src/plugins/select/bluegene/sfree/Makefile
src/plugins/select/cons_res/.deps/dist_tasks.Plo
src/plugins/select/cons_res/.deps/job_test.Plo
src/plugins/select/cons_res/.deps/select_cons_res.Plo
src/plugins/select/cons_res/Makefile
src/plugins/select/cray/.deps/ccm.Plo
src/plugins/select/cray/.deps/select_cray.Plo
src/plugins/select/cray/Makefile
src/plugins/select/linear/.deps/select_linear.Plo
src/plugins/select/linear/Makefile
src/plugins/select/other/.deps/other_select.Plo
src/plugins/select/other/Makefile
src/plugins/select/serial/.deps/dist_tasks.Plo
src/plugins/select/serial/.deps/job_test.Plo
src/plugins/select/serial/.deps/select_serial.Plo
src/plugins/select/serial/Makefile
src/plugins/slurmctld/Makefile
src/plugins/slurmctld/nonstop/Makefile
src/plugins/switch/Makefile
src/plugins/switch/cray/.deps/switch_cray_la-cookies.Plo
src/plugins/switch/cray/.deps/switch_cray_la-gpu.Plo
src/plugins/switch/cray/.deps/switch_cray_la-iaa.Plo
src/plugins/switch/cray/.deps/switch_cray_la-pe_info.Plo
src/plugins/switch/cray/.deps/switch_cray_la-scaling.Plo
src/plugins/switch/cray/.deps/switch_cray_la-switch_cray.Plo
src/plugins/switch/cray/.deps/switch_cray_la-util.Plo
src/plugins/switch/cray/Makefile
src/plugins/switch/generic/.deps/switch_generic.Plo
src/plugins/switch/generic/Makefile
src/plugins/switch/none/.deps/switch_none.Plo
src/plugins/switch/none/Makefile
src/plugins/switch/nrt/Makefile
src/plugins/switch/nrt/libpermapi/Makefile
src/plugins/task/Makefile
src/plugins/task/affinity/.deps/affinity.Plo
src/plugins/task/affinity/.deps/cpuset.Plo
src/plugins/task/affinity/.deps/dist_tasks.Plo
src/plugins/task/affinity/.deps/numa.Plo
src/plugins/task/affinity/.deps/schedutils.Plo
src/plugins/task/affinity/.deps/task_affinity.Plo
src/plugins/task/affinity/Makefile
src/plugins/task/cgroup/.deps/task_cgroup.Plo
src/plugins/task/cgroup/.deps/task_cgroup_cpuset.Plo
src/plugins/task/cgroup/.deps/task_cgroup_devices.Plo
src/plugins/task/cgroup/.deps/task_cgroup_memory.Plo
src/plugins/task/cgroup/Makefile
src/plugins/task/cray/.deps/task_cray.Plo
src/plugins/task/cray/Makefile
src/plugins/task/none/.deps/task_none.Plo
src/plugins/task/none/Makefile
src/plugins/topology/3d_torus/.deps/hilbert_slurm.Plo
src/plugins/topology/3d_torus/.deps/topology_3d_torus.Plo
src/plugins/topology/3d_torus/Makefile
src/plugins/topology/Makefile
src/plugins/topology/hypercube/.deps/topology_hypercube.Plo
src/plugins/topology/hypercube/Makefile
src/plugins/topology/node_rank/.deps/topology_node_rank.Plo
src/plugins/topology/node_rank/Makefile
src/plugins/topology/none/.deps/topology_none.Plo
src/plugins/topology/none/Makefile
src/plugins/topology/tree/.deps/topology_tree.Plo
src/plugins/topology/tree/Makefile
src/sacct/.deps/options.Po
src/sacct/.deps/print.Po
src/sacct/.deps/process.Po
src/sacct/.deps/sacct.Po
src/sacct/Makefile
src/sacctmgr/.deps/account_functions.Po
src/sacctmgr/.deps/archive_functions.Po
src/sacctmgr/.deps/association_functions.Po
src/sacctmgr/.deps/cluster_functions.Po
src/sacctmgr/.deps/common.Po
src/sacctmgr/.deps/config_functions.Po
src/sacctmgr/.deps/event_functions.Po
src/sacctmgr/.deps/federation_functions.Po
src/sacctmgr/.deps/file_functions.Po
src/sacctmgr/.deps/job_functions.Po
src/sacctmgr/.deps/problem_functions.Po
src/sacctmgr/.deps/qos_functions.Po
src/sacctmgr/.deps/reservation_functions.Po
src/sacctmgr/.deps/resource_functions.Po
src/sacctmgr/.deps/runaway_job_functions.Po
src/sacctmgr/.deps/sacctmgr.Po
src/sacctmgr/.deps/tres_function.Po
src/sacctmgr/.deps/txn_functions.Po
src/sacctmgr/.deps/user_functions.Po
src/sacctmgr/.deps/wckey_functions.Po
src/sacctmgr/Makefile
src/salloc/.deps/opt.Po
src/salloc/.deps/salloc.Po
src/salloc/Makefile
src/sattach/.deps/opt.Po
src/sattach/.deps/sattach.Po
src/sattach/Makefile
src/sbatch/.deps/opt.Po
src/sbatch/.deps/sbatch.Po
src/sbatch/Makefile
src/sbcast/.deps/opts.Po
src/sbcast/.deps/sbcast.Po
src/sbcast/Makefile
src/scancel/.deps/opt.Po
src/scancel/.deps/scancel.Po
src/scancel/Makefile
src/scontrol/.deps/create_res.Po
src/scontrol/.deps/info_assoc_mgr.Po
src/scontrol/.deps/info_block.Po
src/scontrol/.deps/info_burst_buffer.Po
src/scontrol/.deps/info_fed.Po
src/scontrol/.deps/info_job.Po
src/scontrol/.deps/info_layout.Po
src/scontrol/.deps/info_lics.Po
src/scontrol/.deps/info_node.Po
src/scontrol/.deps/info_part.Po
src/scontrol/.deps/info_res.Po
src/scontrol/.deps/scontrol.Po
src/scontrol/.deps/update_job.Po
src/scontrol/.deps/update_layout.Po
src/scontrol/.deps/update_node.Po
src/scontrol/.deps/update_part.Po
src/scontrol/.deps/update_powercap.Po
src/scontrol/.deps/update_step.Po
src/scontrol/Makefile
src/sdiag/.deps/opts.Po
src/sdiag/.deps/sdiag.Po
src/sdiag/Makefile
src/sinfo/.deps/opts.Po
src/sinfo/.deps/print.Po
src/sinfo/.deps/sinfo.Po
src/sinfo/.deps/sort.Po
src/sinfo/Makefile
src/slurmctld/.deps/acct_policy.Po
src/slurmctld/.deps/agent.Po
src/slurmctld/.deps/backup.Po
src/slurmctld/.deps/burst_buffer.Po
src/slurmctld/.deps/controller.Po
src/slurmctld/.deps/fed_mgr.Po
src/slurmctld/.deps/front_end.Po
src/slurmctld/.deps/gang.Po
src/slurmctld/.deps/groups.Po
src/slurmctld/.deps/heartbeat.Po
src/slurmctld/.deps/job_mgr.Po
src/slurmctld/.deps/job_scheduler.Po
src/slurmctld/.deps/job_submit.Po
src/slurmctld/.deps/licenses.Po
src/slurmctld/.deps/locks.Po
src/slurmctld/.deps/node_mgr.Po
src/slurmctld/.deps/node_scheduler.Po
src/slurmctld/.deps/partition_mgr.Po
src/slurmctld/.deps/ping_nodes.Po
src/slurmctld/.deps/port_mgr.Po
src/slurmctld/.deps/power_save.Po
src/slurmctld/.deps/powercapping.Po
src/slurmctld/.deps/preempt.Po
src/slurmctld/.deps/proc_req.Po
src/slurmctld/.deps/read_config.Po
src/slurmctld/.deps/reservation.Po
src/slurmctld/.deps/sched_plugin.Po
src/slurmctld/.deps/slurmctld_plugstack.Po
src/slurmctld/.deps/srun_comm.Po
src/slurmctld/.deps/state_save.Po
src/slurmctld/.deps/statistics.Po
src/slurmctld/.deps/step_mgr.Po
src/slurmctld/.deps/trigger_mgr.Po
src/slurmctld/Makefile
src/slurmd/Makefile
src/slurmd/common/.deps/core_spec_plugin.Plo
src/slurmd/common/.deps/fname.Plo
src/slurmd/common/.deps/job_container_plugin.Plo
src/slurmd/common/.deps/log_ctld.Plo
src/slurmd/common/.deps/proctrack.Plo
src/slurmd/common/.deps/reverse_tree_math.Plo
src/slurmd/common/.deps/run_script.Plo
src/slurmd/common/.deps/set_oomadj.Plo
src/slurmd/common/.deps/setproctitle.Plo
src/slurmd/common/.deps/slurmd_cgroup.Plo
src/slurmd/common/.deps/slurmstepd_init.Plo
src/slurmd/common/.deps/task_plugin.Plo
src/slurmd/common/.deps/xcgroup.Plo
src/slurmd/common/.deps/xcpuinfo.Plo
src/slurmd/common/Makefile
src/slurmd/slurmd/.deps/get_mach_stat.Po
src/slurmd/slurmd/.deps/req.Po
src/slurmd/slurmd/.deps/slurmd.Po
src/slurmd/slurmd/Makefile
src/slurmd/slurmstepd/.deps/io.Po
src/slurmd/slurmstepd/.deps/mgr.Po
src/slurmd/slurmstepd/.deps/multi_prog.Po
src/slurmd/slurmstepd/.deps/pam_ses.Po
src/slurmd/slurmstepd/.deps/pdebug.Po
src/slurmd/slurmstepd/.deps/req.Po
src/slurmd/slurmstepd/.deps/slurmstepd.Po
src/slurmd/slurmstepd/.deps/slurmstepd_job.Po
src/slurmd/slurmstepd/.deps/step_terminate_monitor.Po
src/slurmd/slurmstepd/.deps/task.Po
src/slurmd/slurmstepd/.deps/ulimits.Po
src/slurmd/slurmstepd/Makefile
src/slurmdbd/.deps/backup.Po
src/slurmdbd/.deps/proc_req.Po
src/slurmdbd/.deps/read_config.Po
src/slurmdbd/.deps/rpc_mgr.Po
src/slurmdbd/.deps/slurmdbd.Po
src/slurmdbd/Makefile
src/smap/.deps/grid_functions.Po
src/smap/.deps/job_functions.Po
src/smap/.deps/opts.Po
src/smap/.deps/partition_functions.Po
src/smap/.deps/reservation_functions.Po
src/smap/.deps/smap.Po
src/smap/Makefile
src/smd/Makefile
src/sprio/.deps/opts.Po
src/sprio/.deps/print.Po
src/sprio/.deps/sprio.Po
src/sprio/Makefile
src/squeue/.deps/opts.Po
src/squeue/.deps/print.Po
src/squeue/.deps/sort.Po
src/squeue/.deps/squeue.Po
src/squeue/Makefile
src/sreport/.deps/cluster_reports.Po
src/sreport/.deps/common.Po
src/sreport/.deps/job_reports.Po
src/sreport/.deps/resv_reports.Po
src/sreport/.deps/sreport.Po
src/sreport/.deps/user_reports.Po
src/sreport/Makefile
src/srun/.deps/srun.Po
src/srun/.deps/srun_pty.Po
src/srun/Makefile
src/srun/libsrun/.deps/allocate.Plo
src/srun/libsrun/.deps/debugger.Plo
src/srun/libsrun/.deps/fname.Plo
src/srun/libsrun/.deps/launch.Plo
src/srun/libsrun/.deps/multi_prog.Plo
src/srun/libsrun/.deps/opt.Plo
src/srun/libsrun/.deps/srun_job.Plo
src/srun/libsrun/Makefile
src/srun_cr/Makefile
src/sshare/.deps/process.Po
src/sshare/.deps/sshare.Po
src/sshare/Makefile
src/sstat/.deps/options.Po
src/sstat/.deps/print.Po
src/sstat/.deps/process.Po
src/sstat/.deps/sstat.Po
src/sstat/Makefile
src/strigger/.deps/opts.Po
src/strigger/.deps/strigger.Po
src/strigger/Makefile
src/sview/.deps/sview-admin_info.Po
src/sview/.deps/sview-bb_info.Po
src/sview/.deps/sview-block_info.Po
src/sview/.deps/sview-common.Po
src/sview/.deps/sview-config_info.Po
src/sview/.deps/sview-defaults.Po
src/sview/.deps/sview-front_end_info.Po
src/sview/.deps/sview-grid.Po
src/sview/.deps/sview-gthread_helper.Po
src/sview/.deps/sview-job_info.Po
src/sview/.deps/sview-node_info.Po
src/sview/.deps/sview-part_info.Po
src/sview/.deps/sview-popups.Po
src/sview/.deps/sview-resv_info.Po
src/sview/.deps/sview-submit_info.Po
src/sview/.deps/sview-sview.Po
src/sview/Makefile
testsuite/Makefile
testsuite/expect/Makefile
testsuite/slurm_unit/Makefile
testsuite/slurm_unit/api/Makefile
testsuite/slurm_unit/api/manual/Makefile
testsuite/slurm_unit/common/Makefile
testsuite/slurm_unit/common/slurm_protocol_pack/Makefile
testsuite/slurm_unit/common/slurmdb_pack/Makefile
contribs/simulator/edit_trace
contribs/simulator/list_trace
contribs/simulator/mysql_trace_builder
contribs/simulator/sim_mgr
contribs/simulator/simdate
contribs/simulator/simqsnap
contribs/simulator/trace_builder
contribs/simulator/update_trace
slurm/slurm_configure.log
src/api/full_version.map
